@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/balatro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-custom: "CustomFont", sans-serif;
}
